<div class="card">
    <p-table #dt [value]="transactions" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Origen></th>
                <th>Destino </th>
                <th>Monto </th>
                <th>Fecha </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr>
                <td>{{ transaction.origenName }}</td>
                <td>{{ transaction.destinoName }}</td>
                <td>{{ transaction.monto | currency:'USD' }}</td>
                <td>{{ transaction.date | date:'short' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
